@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* Font */
    --main-font: "Red Hat Text", sans-serif;

    /* Font size */

    --font-size: 16px;

    /* Colors */
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);

}

body {
    font-family: var(--main-font);
    font-size: var(--font-size);
    background-color: var(--rose50);
}

button.add-to-cart {
    font-family: var(--main-font);
    font-size: var(--font-size);
    background-color: #fff;
    border: 2px solid var(--rose300);
    padding: 10px 20px;
    border-radius: 50px;
}

button.add-to-cart:hover {
    cursor: pointer;
}

button.add-to-cart > img {
    float: left;
}

h1 {
    color: var(--rose900);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.item-section {
    padding: 3em 5em;
    flex-basis: 60%;
}

/* Grid wrapper */
.grid-wrapper {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;   
    gap: 20px;
}
.grid-item .img-btn-holder {
    position: relative;
    margin-bottom: 1.5em;
}
.grid-item .img-btn-holder button.add-to-cart {
    position: absolute;
    bottom: -15px;
    width: auto;
    height: auto;
    left: 45%;
    transform: translateX(-50%);
}
.grid-item .dessert-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5%;
}
.grid-item .desc .dessert-category {
    color: var(--rose400);
}
.grid-item .desc .dessert-name {
    color: var(--rose900);
    font-size: 1em;
}
.grid-item .desc .price {
    color: var(--red);
}

/*Order section*/
.order-section {
    flex-basis: 40%;
}
.order-section .cart-wrapper {
    background-color: #fff;
    margin-top: 2em;
    text-align: center;
    max-width: 400px;
    padding: 1em;
}
.order-section .cart-wrapper h2 {
    color: var(--red);
    text-align: left;
}
.order-section .cart-wrapper p {
    color: var(--rose500);
    font-weight: 600;
}